@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-text-color:#183b56;
    --secondary-text-color:#577592;
    --accent-color-dark:#2294ed;
    --padding-inline-section: 20px;

}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
p{
    font-family: 'Roboto',sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}



body{
    font-family: 'Poppins',sans-serif;
    color: var(--primary-text-color);
}
p{
    font-family: 'Roboto',sans-serif;
    font-size: 1.25rem;
    line-height: 1.8rem;
    text-align: center;
}
a{
    text-decoration: none;
    display: inline-block;

}
ul{
    list-style: none;
}
.small-bold-text{
    font-size: 1rem;
    font-weight: 700;

}
.container{
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
}
.flex{
    display: flex;
    align-items: center;
}
.hover-links{
    color: var(--primary-text-color);
}
.hover-links:hover{
    color: #CEEDC7;
    transition: 0.2s ease-out;

}
.button{
    background-color: #ADE792;
    border-radius: 6px;
    font-weight: 700;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
}
.button:hover{
    background-color: #CEEDC7;
}
.top-banner{
    background-image: url('./images\bravado.jpeg');
    background-color: #ADE792;
    background-size: 300px;
    
}
.banner-text{
    color: white;
    padding: 15px 30px;
    text-align: center;

}
.main-nav{
    margin-top: 20px;
    justify-content: space-between;
}
.dp{
    width: 200px;
}
.links{
    flex-basis: 730px;
}
.links ul{
    justify-content: end;
    gap: 40px;
}
header{
    padding: 50px var(--padding-inline-section) 0;
}
.header-section{
    justify-content: center;
    margin-top: 0px;
    gap: 50px;

}
.header-left {
    flex-direction: column;
    max-width: 40vw;
}
.header-left h1{
    margin-top: 20px;
}
.floating{
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes floating{
    0% {transform: translate(0, 0px);}
    50% {transform: translate(0, 15px);}
    100% {transform: translate(0, -0px);}
}
.header-right img{
    width: 600px;
}


.sponsors{
    text-align: center;
    margin-block: 30px;
    color: var(--primary-text-color);
}
.logos{
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    height: 80px;
}


.features-section{
    padding: 80px var(--padding-inline-section) 0;
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-position: center;

}
.features-header{
    text-align: center;

}
.features-heading text{
    margin-bottom: 20px;
}
.features-area{
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    margin-top: 20px;

}
.features-card{
    flex-direction: column;
    gap: 20px;
    max-width: 30%;
    text-align: center;
}
.car2{
    width: 200px;
}



.big-feature-section{
    padding: 30px var(--padding-inline-section) 0;

}
.big-feature-container{
    gap: 70px;
}
.feature-img img{
    width: 100%;
}
.feature-desc{
    flex-direction: column;
    align-items: flex-start;
}




.examples-header{
    text-align: center;
}
.examples-area{
    justify-content: space-between;
   scroll-margin-block-start: 30px;
}

.examples-card{
    width: 23%;
    position: relative;
    min-height: 300px;
    background: black;
    background:url(EW1.jpg);
    background-position: center;
    background-size: cover;
    transition: 0.2s ease-out;
    margin-bottom: 30px;
}
.examples-card:hover{
    box-shadow: 0,0,10px #888;
}
.examples-card:nth-child(2){
    background:url(EW2.jpg);
    background-size: cover;
    background-position: center;

}
.examples-card:nth-child(3){
    background:url(EW3.jpeg);
    background-size: cover;
    background-position: center;



}
.examples-card:nth-child(4){
    background:url(EW4.jpeg);
    background-size: cover;
    background-position: center;
    



}

.card-text{
    position: absolute;
    bottom: 20px;
    left:20px;
    right:20px;
    color: #ADE792;
}



.regis-section-container{
    flex-direction: column;
    gap: 30px;
    color: white;
}
.regis-section{
    padding: 120px var(--padding-inline-section) 80;
    background-color: black;
}
.regis-section-container p{
    color:white;
    margin-top:20px;

}




.footer {
    background: rgb(0 0 0);
    height: auto;

    padding-top: 40px;
    color: #fff;

}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 600px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 19px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;

}

.socials a {
    text-decoration: none;
    color: #fff;
}

.socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover {
    color: aqua;
}

.footer-bottom {
    background: rgb(1, 3, 41);

    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 18px;
    word-spacing: 2px;
    text-transform: capitalize;

}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
    color: #ADE792;
}

.title {

    padding: 0 10px;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    margin-top: 50px;
    left: 80px;

}